* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Lobster|Permanent+Marker|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Bangers|Chewy|Fugaz+One|Gloria+Hallelujah|Luckiest+Guy|Monoton|Orbitron|Rubik+Mono+One|Shrikhand&display=swap');

/* Base */

html {
    background-color: lightgray;
    font-family: impact;
}

body {
    margin: 0;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #66FCF1;
}

.nav-container a:hover {
    padding: 10px;
    border: #66FCF1 2px solid;
    border-radius: 12px;
}

button {
    border: none;
    margin: 5px;
    text-decoration: none;
    background-color: inherit;
    color: #66FCF1;
    font-size: 0.9375rem;
}

button:hover {
    border: #66FCF1 2px solid;
    border-radius: 12px;
    padding: 10px;
}

input {
    margin: 10px 10px;
    align-self: center;
}

.nav-container {
    width: 100%;
    max-height: 80px;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 100%;
    background-color: #1A1A1D;
}

.logo {
    place-self: center;
    font-size: 1.625rem;
    color: #66FCF1;
    grid-column: 1 / 2;
    /* font-family: 'Righteous', cursive; */
    font-family: 'Luckiest Guy', cursive;
}

.nav-buttons {
    grid-column: 2 / 3;
    max-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    padding: 0px;
    font-family: 'Righteous', cursive;
}

.nav-buttons li {
    list-style-type: none;
    place-self: center;
}

.menu-btn {
    grid-column: 3 / 4;
}

.image-gallery {
    margin: 5px 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
}

.image-gallery img {
    max-width: 100%;
    object-fit: cover;
}

.image-gallery img:hover {
    cursor: pointer;
    /* border: #66FCF1 2px solid; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
    height: 780px;
    padding: 10px 50px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 100px);
    align-content: center;
}

.about img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    max-height: 100%;
    place-self: center;
    border-radius: 15%;
}

.about h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Shrikhand', cursive;
    font-size: 1.125rem;
}

.about p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
}

.about .facebookLnk {
    background:url('/icons/facebook.png') no-repeat;
    background-position: left; 
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}

.about .linkdinLnk {
    background:url('../icons/linkedin.png') no-repeat left center;
    background-position: left; 
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.MemeGen {
    /* height: 100vh; */
    margin: 5px 50px;
    grid-template-columns: 60% 40%;
}

canvas {
    display: block;
    padding: 0px 10px 0px;
}

#my-canvas {
    max-width: 100%;
}

.canvas-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
    border: #66FCF1 2px solid;
    border-radius: 10px;
    max-width: 100%;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 100px);
}

.canvas-buttons a {
    text-decoration: none;
    font-size: 0.9375rem;
}

#downloadMeme {
    border: none;
    margin: 0;
    text-decoration: none;
}

#inputLine {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 10px 10px;
}

#switchLine {
    background:url('../icons/change.png') no-repeat;
    background-position: center; 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#moveLineUp {
    background:url('../icons/up.png') no-repeat;
    background-position: center; 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#moveLineDown {
    background:url('../icons/down.png') no-repeat;
    background-position: center; 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#increaseFontSize {
    background:url('../icons/plus.png') no-repeat;
    background-position: center; 
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#decreaseFontSize {
    background:url('../icons/minus.png') no-repeat;
    background-position: center; 
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

#setColor {
    /* border: none;
    background-color: inherit;
    background:url('../icons/paint.png') no-repeat;
    background-position: center;  */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    place-self: center;
}

#setAlignCenter {
    background:url('../icons/align_center.png') no-repeat;
    background-position: center; 
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#setAlignLeft {
    background:url('../icons/align_left.png') no-repeat;
    background-position: center; 
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#setAlignRight {
    background:url('../icons/align_right.png') no-repeat;
    background-position: center; 
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#shareMeme {
    background:url('/icons/facebook.png') no-repeat;
    background-position: center; 
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

#saveMeme {
    background:url('../icons/save.png') no-repeat;
    background-position: center; 
    grid-column: 4 / -1;
    grid-row: 4 / 5;
}

#downloadMeme {
    background:url('../icons/download.png') no-repeat;
    background-position: center; 
    grid-column: 3 / 4;
    grid-row: 4 / 5;

}

footer {
    min-height: 50px;
    background-color: #1A1A1D;
    /* color: #6F2232; */
    text-align: center;
    font-size: 1.625rem;
    align-self: center;
    font-family: 'Luckiest Guy', cursive;
}

@media (max-width: 600px) {

    .nav-container #menu-btn {
        display: block;
    }

    .nav-container {
        width: 100%;
        min-height: 100px;
        grid-template-columns: 70% 0% 30%;
        grid-template-rows: 100%;
        background-color: #1A1A1D;
    }

    .nav-buttons {
        grid-template-columns: 100vw;
        grid-template-rows: 100px 100px 100px 600px;
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(100%, 0);  
        transition:  transform .8s, box-shadow .3s;
        background-color: #1A1A1D;
        margin-top: 0px;
        border: #66FCF1 4px solid;
        border-radius: 12px;
    }

    .menu-open .nav-buttons {
        width: 100%;
        height: 100%;
        transform: translate(0, 0);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    }

    .MemeGen { 
        grid-template-columns: 100%;
        gap: 5px;
        margin: 5px 5px;
    }
    .canvas-buttons {
        grid-template-rows: repeat(4, 1fr);
        margin: 0px;
    }

    .about {
        grid-template-columns: 100%;
        grid-template-rows: 40% 10% 30% 10% 10%;
        justify-content: center;
    }

    .about img {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        max-height: 100%;
        place-self: center;
        border-radius: 15%;
    }
    
    .about h4 {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin: 0px;
        place-self: center;
    }
    
    .about p {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        font-family: 'Luckiest Guy', cursive;
    }
    
    .about .facebookLnk {
        background:url('/icons/facebook.png') no-repeat;
        background-position: left; 
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        background-position: center; 

    }
    
    .about .linkdinLnk {
        background:url('../icons/linkedin.png') no-repeat left center;
        background-position: left; 
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        background-position: center; 
    }

}

/* Helpers */

.grid {
    display: grid;
}